* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #13223D;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 2rem;
    border: 2px solid white;
    border-radius: 40px;
    width: 300px;
    padding: 2rem;
}

.display-box {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    color: #057E18;
    text-align: end;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="button"] {
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: #ED7A30;
    font-weight: bold;
    cursor: pointer;
    border: none;
    font-size: 30px;
    gap: 5px;
}

.container tr td:last-child input[type="button"] {
    color: #343AEE;
}